<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="ofEds Team">
    <meta property="og:site_name" content="ofEds">
    <meta property="og:description" content="A modern chat application built with Elixir, Phoenix & React">

    <title>ofEds - Modern Chat Platform</title>
  </head>

  <body>
    <%= render @view_module, @view_template, assigns %>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
